.pwd_wrap {
  width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.pwd_wrap > span {
  font-size: 18px;
  display: block;
  margin-bottom: 33px;
}

.pwd_wrap input {
  width: 210px;
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 22px;
}

.pwd_wrap input:focus {
  outline: none;
}

.pwd_wrap input:hover {
  width: 250px;
  transition: 1s;
  border-bottom: 2px solid powderblue;
}

.pwd_wrap button {
  display: block;
  width: 80px;
  height: 32px;
  background: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  margin: 20px auto 0;
  line-height: 32px;
  cursor: pointer;
}

.pwd_wrap button:hover {
  background-color: #d1d1d1;
  color: black;
}
