th,
td {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 25px 0;
}

.qna_section {
  margin: auto;
  width: 60%;
  margin-bottom: 80px;
}

.qna_title_wrap {
  display: flex;
  margin-top: 80px;
  margin-bottom: 18px;
  width: 100%;
  height: 35px;
}

.qna_section h2 {
  width: 100%;
  font-size: 30px;
  margin-left: 20px;
  font-family: "Times New Roman", "Times Roman", times, serif;
}

#cate {
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid black;
  width: 88px;
  height: 34px;
}

.qna_table {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
  font-size: 15px;
}

.board_list_title {
  font-weight: bold;
  background-color: rgb(250, 250, 250);
  border-top: 3px solid rgb(0, 22, 0);
}

.board_list_title > .no {
  width: 90px;
}

.board_list_title > .cate,
.board_list_title > .b_name,
.board_list_title > .w_date,
.board_list_title > .cnt {
  width: 150px;
}

.board_content_title {
  padding-left: 27px;
}

.lock {
  width: 16px;
  height: 19px;
  display: block;
  background: url(../images/lock_icon.png);
  text-indent: -9999px;
  float: left;
  margin-right: 7px;
  margin-bottom: 3px;
}

.b_title {
  line-height: 19px;
}

.qna_title {
  text-align: left;
}

/*write_btn*/
.write_btn {
  display: block;
  width: 80px;
  height: 32px;
  background: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  margin: 20px 0px 0 89%;
  line-height: 32px;
}

.write_btn:hover {
  background-color: #d1d1d1;
  color: black;
}

/*pager*/
.pager {
  width: 129px;
  height: 19px;
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  text-align: center;
}

.pre {
  display: block;
  width: 12px;
  height: 14px;
}

.page_number {
  display: block;
  font-weight: bold;
  margin: 0 14px 0;
}

.next {
  display: block;
  width: 12px;
  height: 14px;
}

/** modify **/
.btn_list_wrap {
  margin-top: 20px;
}

.btn_list {
  display: flex;
  width: 250px;
  margin: auto;
}

.btn_list a {
  display: block;
  width: 80px;
  height: 32px;
  background: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  box-sizing: border-box;
}

.upload_btn {
  display: block;
  width: 80px;
  height: 32px;
  background: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.prev_btn {
  display: block;
  width: 80px;
  height: 32px;
  background: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
