/*탭 버튼*/
.tab_btn_wrap {
  width: 872px;
  height: 30px;
  margin: 50px auto 0;
}

.tab_btn1,
.tab_btn2,
.tab_btn3 {
  float: left;
  color: white;
  background: black;
  border: 1px solid black;
  width: 290px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}

.tab_btn1,
.tab_btn2 {
  margin-right: 1px;
}

.tabs {
  margin-bottom: 50px;
}

.tab2,
.tab3 {
  display: none;
}

.add_to_cart_btn {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 35px;
  margin-top: 109px;
  font-size: 14px;
  cursor: pointer;
}

.add_to_cart_btn:hover {
  background-color: rgb(192, 192, 192);
}

.on {
  border: 1px solid black;
  background: white;
  color: black;
  transition: 0.2s linear;
}

/*Tab menu - ALL*/
.all_prd1_txt1,
.all_prd2_txt1,
.all_prd3_txt1,
.all_prd4_txt1,
.all_prd5_txt1,
.all_prd6_txt1,
.all_prd7_txt1,
.all_prd8_txt1,
.all_prd9_txt1,
.all_prd10_txt1,
.all_prd11_txt1,
.all_prd11_txt1 {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.all_prd1_txt2_wrap,
.all_prd2_txt2_wrap,
.all_prd3_txt2_wrap,
.all_prd4_txt2_wrap,
.all_prd5_txt2_wrap,
.all_prd6_txt2_wrap,
.all_prd7_txt2_wrap,
.all_prd8_txt2_wrap,
.all_prd9_txt2_wrap,
.all_prd10_txt2_wrap,
.all_prd11_txt2_wrap,
.all_prd11_txt2_wrap {
  width: 390px;
  height: 25px;
  margin: 17px auto 0;
  border-bottom: 1px solid black;
  padding: 0 5px 0;
  font-size: 18px;
}

.all_prd1_txt2,
.all_prd2_txt2,
.all_prd3_txt2,
.all_prd4_txt2,
.all_prd5_txt2,
.all_prd6_txt2,
.all_prd7_txt2,
.all_prd8_txt2,
.all_prd9_txt2,
.all_prd10_txt2,
.all_prd11_txt2,
.all_prd11_txt2 {
  float: left;
}

.all_prd1_txt3,
.all_prd2_txt3,
.all_prd3_txt3,
.all_prd4_txt3,
.all_prd5_txt3,
.all_prd6_txt3,
.all_prd7_txt3,
.all_prd8_txt3,
.all_prd9_txt3,
.all_prd10_txt3,
.all_prd11_txt3,
.all_prd11_txt3 {
  float: right;
}

.all_prd1_txt4,
.all_prd2_txt4,
.all_prd3_txt4,
.all_prd4_txt4,
.all_prd5_txt4,
.all_prd6_txt4,
.all_prd7_txt4,
.all_prd8_txt4,
.all_prd9_txt4,
.all_prd10_txt4,
.all_prd11_txt4,
.all_prd11_txt4 {
  font-size: 13px;
  margin-top: 50px;
  position: absolute;
  width: 400px;
  line-height: 19px;
}

.all_row1,
.all_row2,
.all_row3,
.all_row4,
.all_row5,
.all_row6 {
  width: 870px;
  height: 628px;
  margin: 50px auto 0;
}

/*prd1*/
.all_prd1 {
  width: 400px;
  height: 628px;
  float: left;
}

.all_prd1 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt1.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd2*/
.all_prd2 {
  width: 400px;
  height: 628px;
  float: right;
}

.all_prd2 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt2.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd3*/
.all_prd3 {
  width: 400px;
  height: 628px;
  float: left;
}

.all_prd3 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt3.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd4*/
.all_prd4 {
  width: 400px;
  height: 628px;
  float: right;
}

.all_prd4 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt4.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd5*/
.all_prd5 {
  width: 400px;
  height: 628px;
  float: left;
}

.all_prd5 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt5.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd6*/
.all_prd6 {
  width: 400px;
  height: 628px;
  float: right;
}

.all_prd6 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt6.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd7*/
.all_prd7 {
  width: 400px;
  height: 628px;
  float: left;
}

.all_prd7 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt7.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd8*/
.all_prd8 {
  width: 400px;
  height: 628px;
  float: right;
}

.all_prd8 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt8.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd9*/
.all_prd9 {
  width: 400px;
  height: 628px;
  float: left;
}

.all_prd9 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt9.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd10*/
.all_prd10 {
  width: 400px;
  height: 628px;
  float: right;
}

.all_prd10 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt10.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd12*/
.all_prd11 {
  width: 400px;
  height: 628px;
  float: left;
}

.all_prd11 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt12.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*Tab menu - tab2*/
.tab2_prd1_txt1,
.tab2_prd2_txt1,
.tab2_prd3_txt1,
.tab2_prd4_txt1,
.tab2_prd5_txt1 {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.tab2_prd1_txt2_wrap,
.tab2_prd2_txt2_wrap,
.tab2_prd3_txt2_wrap,
.tab2_prd4_txt2_wrap,
.tab2_prd5_txt2_wrap {
  width: 390px;
  height: 25px;
  margin: 17px auto 0;
  border-bottom: 1px solid black;
  padding: 0 5px 0;
  font-size: 18px;
}

.tab2_prd1_txt2,
.tab2_prd2_txt2,
.tab2_prd3_txt2,
.tab2_prd4_txt2,
.tab2_prd5_txt2 {
  float: left;
}

.tab2_prd1_txt3,
.tab2_prd2_txt3,
.tab2_prd3_txt3,
.tab2_prd4_txt3,
.tab2_prd5_txt3 {
  float: right;
}

.tab2_prd1_txt4,
.tab2_prd2_txt4,
.tab2_prd3_txt4,
.tab2_prd4_txt4,
.tab2_prd5_txt4 {
  font-size: 13px;
  margin-top: 50px;
  position: absolute;
  width: 400px;
  line-height: 19px;
}

.tab2_row1,
.tab2_row2,
.tab2_row3 {
  width: 870px;
  height: 628px;
  margin: 50px auto 0;
}

/*prd1*/
.tab2_prd1 {
  width: 400px;
  height: 628px;
  float: left;
}

.tab2_prd1 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt2.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd2*/
.tab2_prd2 {
  width: 400px;
  height: 628px;
  float: right;
}

.tab2_prd2 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt3.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd3*/
.tab2_prd3 {
  width: 400px;
  height: 628px;
  float: left;
}

.tab2_prd3 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt4.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd4*/
.tab2_prd4 {
  width: 400px;
  height: 628px;
  float: right;
}

.tab2_prd4 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt5.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd5*/
.tab2_prd5 {
  width: 400px;
  height: 628px;
  float: left;
}

.tab2_prd5 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt12.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*Tab menu - tab3*/
.tab3_prd1_txt1,
.tab3_prd2_txt1,
.tab3_prd3_txt1,
.tab3_prd4_txt1,
.tab3_prd5_txt1,
.tab3_prd6_txt1 {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.tab3_prd1_txt2_wrap,
.tab3_prd2_txt2_wrap,
.tab3_prd3_txt2_wrap,
.tab3_prd4_txt2_wrap,
.tab3_prd5_txt2_wrap,
.tab3_prd6_txt2_wrap {
  width: 390px;
  height: 25px;
  margin: 17px auto 0;
  border-bottom: 1px solid black;
  padding: 0 5px 0;
  font-size: 18px;
}

.tab3_prd1_txt2,
.tab3_prd2_txt2,
.tab3_prd3_txt2,
.tab3_prd4_txt2,
.tab3_prd5_txt2,
.tab3_prd6_txt2 {
  float: left;
}

.tab3_prd1_txt3,
.tab3_prd2_txt3,
.tab3_prd3_txt3,
.tab3_prd4_txt3,
.tab3_prd5_txt3,
.tab3_prd6_txt3 {
  float: right;
}

.tab3_prd1_txt4,
.tab3_prd2_txt4,
.tab3_prd3_txt4,
.tab3_prd4_txt4,
.tab3_prd5_txt4,
.tab3_prd6_txt4 {
  font-size: 13px;
  margin-top: 50px;
  position: absolute;
  width: 400px;
  line-height: 19px;
}

.tab3_row1,
.tab3_row2,
.tab3_row3 {
  width: 870px;
  height: 628px;
  margin: 50px auto 0;
}

/*prd1*/
.tab3_prd1 {
  width: 400px;
  height: 628px;
  float: left;
}

.tab3_prd1 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt1.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd2*/
.tab3_prd2 {
  width: 400px;
  height: 628px;
  float: right;
}

.tab3_prd2 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt6.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd3*/
.tab3_prd3 {
  width: 400px;
  height: 628px;
  float: left;
}

.tab3_prd3 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt7.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd4*/
.tab3_prd4 {
  width: 400px;
  height: 628px;
  float: right;
}

.tab3_prd4 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt8.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd5*/
.tab3_prd5 {
  width: 400px;
  height: 628px;
  float: left;
}

.tab3_prd5 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt9.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

/*prd6*/
.tab3_prd6 {
  width: 400px;
  height: 628px;
  float: right;
}

.tab3_prd6 a {
  width: 400px;
  height: 400px;
  background: url(../images/sp_pdt11.jpg) no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}
